$red-palette: (
    50 : #f0e4e4,
    100 : #dbbcbc,
    200 : #c39090,
    300 : #aa6363,
    400 : #984141,
    500 : #862020,
    600 : #7e1c1c,
    700 : #731818,
    800 : #691313,
    900 : #560b0b,
    A100 : #ff8b8b,
    A200 : #ff5858,
    A400 : #ff2525,
    A700 : #ff0c0c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);