<div id="wrapper">
  <main-nav></main-nav>
  <router-outlet></router-outlet>
  <!-- <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened class="example-sidenav">
      <user-profile></user-profile>
    </mat-sidenav>

    <mat-sidenav-content>
      <notification-message></notification-message>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container> -->

  <!--<footer class="footer">
      Angular v6.x + Firebase Leaderboard App
  </footer> -->
  <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>