<div class="basic-info-header">
  <h3>Tasks</h3>
</div>
<div class="basic-info-content">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-training-image"></div>
      <mat-card-title>Training 1</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>Confirm</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-training-image"></div>
      <mat-card-title>Training 2</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>Confirm</button>
    </mat-card-actions>
  </mat-card>
  <!--<mat-card>
    <mat-selection-list>
      <mat-list-option>
        Training 1
      </mat-list-option>

      <mat-list-option>
        Training 2
      </mat-list-option>

      <mat-list-option>
        Training 3
      </mat-list-option>
    </mat-selection-list>
  </mat-card> -->
</div>