<div class="profile-photo">
  <img src="assets/images/stock-photo.jpeg" alt="display photo" id="display-photo">
</div>
<div class="profile-details">
  <div class="badge ">
    <img src="assets/images/angularfirebase.png" alt="badge-img">
  </div>
  <div class="profile-data">
    <span class="character-name">
      Francis Gallardo
    </span>
    <span class="small-text">
      Level 7 Thief
    </span>
    <mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
  </div>
</div>