<div class="basic-info-header">
  <h3>Leaderboard</h3>
</div>
<div class="basic-info-content">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>500 points</mat-card-subtitle>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Shiba Inu 2</mat-card-title>
      <mat-card-subtitle>100 points</mat-card-subtitle>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
  </mat-card>
</div>