<div class="container">
  <div class="page-header">
    <h1>Tasks</h1>
    <button mat-raised-button>Create new Tasks</button>
  </div>
  
  <div class="tasks-board">
    <!-- Cards of tasks go here -->
    <mat-card>
      <mat-card-title>
        Take a Break!
      </mat-card-title>
      <mat-card-subtitle>
        Created by: <span class="creator">Trevor the Tasker</span>
      </mat-card-subtitle>
      <mat-card-content>
        It may sound weird, but sometimes taking breaks 
        and pausing can make us calmer and more effective when we need to get stuff done. 
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Take This</button>
      </mat-card-actions>
      <mat-card-footer>
        <div class="exp">
          <p>Exp: 500</p>
          <p>Gold: 500</p>
        </div>
        
      </mat-card-footer>
    </mat-card>
  
    <mat-card>
      <mat-card-title>
        Take a Break!
      </mat-card-title>
      <mat-card-subtitle>
        Created by: <span class="creator">Trevor the Tasker</span>
      </mat-card-subtitle>
      <mat-card-content>
        It may sound weird, but sometimes taking breaks 
        and pausing can make us calmer and more effective when we need to get stuff done. 
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Take This</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-title>
        Take a Break!
      </mat-card-title>
      <mat-card-subtitle>
        Created by: <span class="creator">Trevor the Tasker</span>
      </mat-card-subtitle>
      <mat-card-content>
        It may sound weird, but sometimes taking breaks 
        and pausing can make us calmer and more effective when we need to get stuff done. 
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Take This</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

